body {
    display:flex;
    justify-content: center;
    padding: 80px;
    font-family: Roboto;
}
section
{
    margin-top: 4rem;
}
.col-md-8{
    display:flex;
    align-items:center;
    
}
.card-title{
    display:flex;
    justify-content: center;
}
.card-text{
    font-size: 18px;
    
}


.card-padding {
    margin: auto;
}
.price-text {
    font-size: 24pt;
}
.volver {
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
}
.card-body-exception {
    flex: 1 1 auto;
    padding: 0px;
    color: var(--bs-card-color);
}
.text-Magic-cards .text-game-of-coders .text-creative-commons
{
     margin-bottom: 0px;
}
@media screen and (max-width: 700px)
{
    .footer {
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

