@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:wght@600&display=swap");

* {
  margin: 50px;
  padding: 0;
}
.footer {
  font-weight: 600;
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.img-cc {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 100px;
  left: 40px;
}

@media screen and (max-width: 700px) {
  .footer {
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
