.personalized-card {
  min-height: 700px;
  box-shadow: 6px 6px 6px rgb(115, 115, 115);
  padding: 1rem;
}

.view-more-button {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

#result {
  max-width: 1200px;
}